input[type=text] {
    border: none;
    border-bottom: 2px solid $cvioleta;
  }

  input[type=email] {
    border: none;
    border-bottom: 2px solid $cvioleta;
  }

  input[type=text]:focus {
    background-color: $cnaranja;
  }

  input[type=email]:focus {
    background-color: $cnaranja;
  }

  label{
      font-weight: bold;
      padding: 0.5em;
      margin-top: 1em;
  }